/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 62.5rem;
  height: 187rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: [line1] 34rem [line2] 3.563rem [line3] 38.25rem [line4] 42.5rem [line5] 42.5rem [line6] 25.5rem [line7];
}

/*header*/
header {
  grid-area: 1/1/2/-1;
  display: flex;
}

.header-section {
  width: 31.25rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
}

.header-section1 {
  width: 31.25rem;
  height: 34rem;
  background-color: #c7ddea;

  display: grid;
  grid-template-columns: [line1] 6.563rem [line2] 5.812rem [line3] 2.375rem [line4] 8.563rem [line5] 2.875rem [line6] 4.062rem [line7] 1rem [line8];
  grid-template-rows: [line1] 4.438rem [line2] 6.313rem [line3] 5.812rem [line4] 0.626rem [line5] 3.186rem [line6] 2.438rem [line7] 11.187rem [line8];
}

.header-section-text1 {
  width: 19.625rem;
  height: 6.313rem;
  grid-area: 2/2/6/3;

  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  font-size: 2.813rem;
  line-height: 2.813rem;
  color: #000000;
}

.header-section-text2 {
  width: 16rem;
  height: 6.438rem;
  grid-area: 3/2/5/5;

  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #000000;
  opacity: 60%;
}

.header-text-span {
  color: #ffffff;
}

.header-button {
  grid-area: 6/2/7/4;
  width: 8.188rem;
  height: 2.438rem;
  border-radius: 6.25rem;
  border: 0;
  background-color: #ffffff;

  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  color: #000000cc;
}

.img-family {
  width: 17.875rem;
  height: 17.438rem;
  grid-area: 4/3/-1/7;
}

.header-section2 {
  width: 31.25rem;
  height: 34rem;
  background-color: #c7ddea;

  display: grid;
  grid-template-columns: repeat(6, 5.208rem);
  grid-template-rows: repeat(6, 5.666rem);
}

.header-article {
  width: 31.25rem;
  height: 17rem;
}

.header-red {
  background-color: #f17949;
  grid-area: 1/1/-1/4;

  /*text*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-yellow {
  background-color: #ffb939;
  grid-area: 4/1/-1/-1;

  /*text*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-article-text1 {
  width: 15.625rem;
  height: 1.063rem;

  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 0.688rem;
  line-height: 0.825rem;
  color: #000000;
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-article-text2 {
  width: 15.625rem;
  height: 2.563rem;

  font-family: "Frank Ruhl Libre", serif;
  font-size: 2rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*nav*/
nav {
  grid-area: 2/1/3/-1;
  display: flex;
  justify-content: center;
}

.nav-text {
  width: 10.438rem;
  height: 3.563rem;

  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text2 {
  opacity: 40%;
}

/*main*/
main {
  grid-area: 3/1/6/-1;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.mainWrapper {
  width: 62.625rem;
  height: 80.75rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #a9a19e 50%, #fab131 50%);
}

/* figure */
.mainImg1 {
  height: 9.875rem;
  width: auto;
  margin-top: 2.188rem;
}

.mainImg2 {
  height: 27.5rem;
  width: auto;
  align-self: flex-start;
  margin-top: 0.938rem;
}

.mainImg3 {
  height: 23.125rem;
  width: auto;
  align-self: flex-start;
  margin-top: 1.375rem;
}

.frame1 {
  background-color: #c7ddea;
}
.frame2 {
  background-color: #fab131;
}
.frame3 {
  background-color: #f17949;
}

.imgFrame {
  width: 14.75rem;
  height: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  margin-top: -1.875rem;
  overflow: hidden;
}

.mainImgWrapper {
  margin: auto;
  display: flex;
  gap: 1.625rem;
  align-items: center;
}

.mainImgWrapper > figure {
  background-color: #ffffff;
  width: 16rem;
  height: 19.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mainImgWrapper > figure > figcaption {
  width: 13.375rem;
  height: 6.75rem;
  color: #000000;
  opacity: 40%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 0.688rem;
  line-height: 1.125rem;
  text-align: center;
}

.mainImgWrapper > figure > h3 {
  color: #000000;
  opacity: 90%;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
}

/* section1 */
.section1 {
  width: 62.625rem;
  height: 38.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joinBtn {
  width: 8.188rem;
  height: 2.438rem;
  border-radius: 6.25rem;
  border: 0;
  background-color: #ffffff;

  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  color: #000000;
  opacity:80%;
  box-shadow: 0 0.125rem 0 0 #0000001a;
}

.section1_right > p {
  color: #000000;
  opacity: 60%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-right: 8.438rem;
  margin-bottom: 5.438rem;
  position: relative;
  top: 2.2rem;
}

.section1_left {
  display: flex;
  flex-direction: column;
  gap: 4.438rem;
  height: 100%;
  padding-left: 6.5rem;
}

.section1_left > h2 {
  color: #ffffff;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  font-size: 2.813rem;
  line-height: 2.813rem;
  letter-spacing: -2%;
  margin-top: 6.7rem;
}

/* section2 */
.section2 {
  width: 62.625rem;
  height: 38.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2_body {
  margin-bottom: 166px;
}

.section2_body > h2 {
  color: #ffffff;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  font-size: 2.813rem;
  line-height: 2.813rem;
  letter-spacing: -2%;
  text-align: center;
  position: relative;
  top: 49px;
}

.section2_body > p {
  color: #000000;
  opacity: 60%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  margin-top: 82px;
}

/* section3 */
.section3 {
  background-color: #fab131;
  width: 62.625rem;
  height: 42.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.article1 {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  background-color: #c7ddea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article2 {
  grid-column: 3 / 5;
  grid-row: 1 / 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.article3 {
  grid-column: 5 / 7;
  grid-row: 1 / 1;
  background-color: #ebebeb;
}

.article4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: #ffffff;
}

.article5 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  background-color: #f17949;
}

.article6 {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
  background-color: #ffffff;
}

.article1 > h2 {
  color: #000000;
  opacity: 80%;
  color: #000000;
  opacity: 80%;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  font-size: 2.813rem;
  line-height: 2.813rem;
  letter-spacing: -2%;
  text-align: center;
}

.article2 :nth-child(1),
.article3 :nth-child(1),
.article4 :nth-child(1),
.article5 :nth-child(1),
.article6 :nth-child(1) {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  opacity: 40%;
  color: #000000;
  opacity: 40%;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  font-size: 2.188rem;
  line-height: 2.188rem;
  letter-spacing: -2%;
  text-align: center;
}

.article2 :nth-child(2),
.article3 :nth-child(2),
.article4 :nth-child(2),
.article5 :nth-child(2),
.article6 :nth-child(2) {
  color: #000000;
  opacity: 70%;
  color: #000000;
  opacity: 70%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.25rem;
  letter-spacing: -2%;
  text-align: center;
  align-self: center;
  margin-top: 1.875rem;
}

/*footer*/
footer {
  background-color: #777574;
  grid-area: 6/1/7/-1;
}

.section-up {
  width: 62.5rem;
  height: 4.25rem;
  background-color: #a9a19e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img-chevrons {
  width: auto;
  height: auto;
  margin-top: 0.5rem;
}

.footer-text {
  width: 15.938rem;
  height: 1.938rem;

  color: #000000;
  opacity: 70%;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.063rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* :hover */
button:hover {
  transform: scale(1.1);
  background-color: #fab131;
}

.nav-text:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  opacity: 100;
  border-radius: 0.625rem;
}

.img-chevrons:hover {
  transform: scale(1.3);
}